/* Light Theme */
.light {
    --solias-primary: rgb(68 94 145);
    --solias-surface-tint: rgb(68 94 145);
    --solias-on-primary: rgb(255 255 255);
    --solias-primary-container: rgb(216 226 255);
    --solias-on-primary-container: rgb(0 26 65);
    --solias-secondary: rgb(87 94 113);
    --solias-on-secondary: rgb(255 255 255);
    --solias-secondary-container: rgb(219 226 249);
    --solias-on-secondary-container: rgb(20 27 44);
    --solias-tertiary: rgb(113 85 115);
    --solias-on-tertiary: rgb(255 255 255);
    --solias-tertiary-container: rgb(251 215 252);
    --solias-on-tertiary-container: rgb(41 19 45);
    --solias-error: rgb(186 26 26);
    --solias-on-error: rgb(255 255 255);
    --solias-error-container: rgb(255 218 214);
    --solias-on-error-container: rgb(65 0 2);
    --solias-background: rgb(249 249 255);
    --solias-on-background: rgb(26 27 32);
    --solias-surface: rgb(249 249 255);
    --solias-on-surface: rgb(26 27 32);
    --solias-surface-variant: rgb(225 226 236);
    --solias-on-surface-variant: rgb(68 71 79);
    --solias-outline: rgb(116 119 127);
    --solias-outline-variant: rgb(196 198 208);
    --solias-shadow: rgb(0 0 0);
    --solias-scrim: rgb(0 0 0);
    --solias-inverse-surface: rgb(47 48 54);
    --solias-inverse-on-surface: rgb(240 240 247);
    --solias-inverse-primary: rgb(173 198 255);
    --solias-primary-fixed: rgb(216 226 255);
    --solias-on-primary-fixed: rgb(0 26 65);
    --solias-primary-fixed-dim: rgb(173 198 255);
    --solias-on-primary-fixed-variant: rgb(43 70 120);
    --solias-secondary-fixed: rgb(219 226 249);
    --solias-on-secondary-fixed: rgb(20 27 44);
    --solias-secondary-fixed-dim: rgb(191 198 220);
    --solias-on-secondary-fixed-variant: rgb(63 71 89);
    --solias-tertiary-fixed: rgb(251 215 252);
    --solias-on-tertiary-fixed: rgb(41 19 45);
    --solias-tertiary-fixed-dim: rgb(222 188 223);
    --solias-on-tertiary-fixed-variant: rgb(88 62 91);
    --solias-surface-dim: rgb(217 217 224);
    --solias-surface-bright: rgb(249 249 255);
    --solias-surface-container-lowest: rgb(255 255 255);
    --solias-surface-container-low: rgb(243 243 250);
    --solias-surface-container: rgb(237 237 244);
    --solias-surface-container-high: rgb(232 231 238);
    --solias-surface-container-highest: rgb(226 226 233);
}

/* Dark Theme */
.dark {
    --solias-primary: rgb(173 198 255);
    --solias-surface-tint: rgb(173 198 255);
    --solias-on-primary: rgb(16 47 96);
    --solias-primary-container: rgb(43 70 120);
    --solias-on-primary-container: rgb(216 226 255);
    --solias-secondary: rgb(191 198 220);
    --solias-on-secondary: rgb(41 48 65);
    --solias-secondary-container: rgb(63 71 89);
    --solias-on-secondary-container: rgb(219 226 249);
    --solias-tertiary: rgb(222 188 223);
    --solias-on-tertiary: rgb(64 40 67);
    --solias-tertiary-container: rgb(88 62 91);
    --solias-on-tertiary-container: rgb(251 215 252);
    --solias-error: rgb(255 180 171);
    --solias-on-error: rgb(105 0 5);
    --solias-error-container: rgb(147 0 10);
    --solias-on-error-container: rgb(255 218 214);
    --solias-background: rgb(17 19 24);
    --solias-on-background: rgb(226 226 233);
    --solias-surface: rgb(17 19 24);
    --solias-on-surface: rgb(226 226 233);
    --solias-surface-variant: rgb(68 71 79);
    --solias-on-surface-variant: rgb(196 198 208);
    --solias-outline: rgb(142 144 153);
    --solias-outline-variant: rgb(68 71 79);
    --solias-shadow: rgb(0 0 0);
    --solias-scrim: rgb(0 0 0);
    --solias-inverse-surface: rgb(226 226 233);
    --solias-inverse-on-surface: rgb(47 48 54);
    --solias-inverse-primary: rgb(68 94 145);
    --solias-primary-fixed: rgb(216 226 255);
    --solias-on-primary-fixed: rgb(0 26 65);
    --solias-primary-fixed-dim: rgb(173 198 255);
    --solias-on-primary-fixed-variant: rgb(43 70 120);
    --solias-secondary-fixed: rgb(219 226 249);
    --solias-on-secondary-fixed: rgb(20 27 44);
    --solias-secondary-fixed-dim: rgb(191 198 220);
    --solias-on-secondary-fixed-variant: rgb(63 71 89);
    --solias-tertiary-fixed: rgb(251 215 252);
    --solias-on-tertiary-fixed: rgb(41 19 45);
    --solias-tertiary-fixed-dim: rgb(222 188 223);
    --solias-on-tertiary-fixed-variant: rgb(88 62 91);
    --solias-surface-dim: rgb(17 19 24);
    --solias-surface-bright: rgb(55 57 62);
    --solias-surface-container-lowest: rgb(12 14 19);
    --solias-surface-container-low: rgb(26 27 32);
    --solias-surface-container: rgb(30 31 37);
    --solias-surface-container-high: rgb(40 42 47);
    --solias-surface-container-highest: rgb(51 53 58);
}
